<p id="notice"><%= notice %></p>

<h2>You Are Currently Standing At...</h2>
<p><%= @location.address %></p>


<h2>The Closest Buses Are...</h2>
  
  <% if @bus_count == 0 %>
    <p>...not really that close. Better order an Uber. Or Lyft. Or call a friend. Or just give up and go back inside and watch some TV. Going places is overrated.</p>
  <% else %>
    <% @nearby_buses.each do |bus| %>
      <p>
        <strong>Route:</strong><%= bus["ROUTE"] %>
        <br>
        <strong>Vehicle</strong><%= bus["VEHICLE"] %>
        <br>
        <strong>Next stop</strong><%= bus["TIMEPOINT"] %>
        <br>
      </p>
    <% end %>
  <% end %>

<%= link_to  "Actually, I'm at...", root_path %>